Server responded: NO ['Message contains NUL characters']

I get the following exception during synchronization from a local Maildir to a remote Cyrus IMAP v2.4.17 with offlineimap 6.5.7:

```
Exception in thread Folder .Trash [remote name INBOX/Old/Trash] [acc: helena] (most likely raised during interpreter shutdown):
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 551, in __bootstrap_inner
  File "/home/mattias/offlineimap-6.5.7/offlineimap/threadutil.py", line 239, in run
  File "/home/mattias/offlineimap-6.5.7/offlineimap/threadutil.py", line 178, in run
<type 'exceptions.AttributeError'>: 'NoneType' object has no attribute 'format_exc'
```

Please let me know if you need any more information.

Weird. I don't get why `traceback` is None since it's in an exception clause...

What 's your version of python?

Python 2.7.3 on Ubuntu 12.04.

I ran offlineimap again without changing anything and now I get this backtrace instead:

Folder  [remote name INBOX] [acc: helena]:
 Copy message -6875 (1 of 7698) helenalocal: -> helenaremote
 Copy message -7698 (2 of 7698) helenalocal: -> helenaremote
Thread 'Folder  [remote name INBOX] [acc: helena]' terminated with exception:
Traceback (most recent call last):
  File "/home/mattias/offlineimap-6.5.7/offlineimap/threadutil.py", line 163, in
 run
    Thread.run(self)
  File "/usr/lib/python2.7/threading.py", line 504, in run
    self.__target(*self.__args, **self.__kwargs)
  File "/home/mattias/offlineimap-6.5.7/offlineimap/accounts.py", line 575, in s
yncfolder
    localfolder.syncmessagesto(remotefolder, statusfolder)
  File "/home/mattias/offlineimap-6.5.7/offlineimap/folder/Base.py", line 979, i
n syncmessagesto
    action(dstfolder, statusfolder)
  File "/home/mattias/offlineimap-6.5.7/offlineimap/folder/Base.py", line 853, i
n __syncmessagesto_copy
    register = 0)
  File "/home/mattias/offlineimap-6.5.7/offlineimap/folder/Base.py", line 775, i
n copymessageto
    new_uid = dstfolder.savemessage(uid, message, flags, rtime)
  File "/home/mattias/offlineimap-6.5.7/offlineimap/folder/IMAP.py", line 597, i
n savemessage
    raise OfflineImapError(msg, OfflineImapError.ERROR.REPO)
OfflineImapError: Saving msg (<3E57408F4CC.biljetter@dramaten.se>) in folder 'IN
BOX', repository 'helenaremote' failed (abort). Server responded: NO ['Message contains NUL characters']



Last 15 debug messages logged for Folder  [remote name INBOX] [acc: helena] prior to exception:
imap: __options2hash returning: {'INTERNALDATE': '"14-Jul-2015 11:29:33 +0200"', 'FLAGS': '()', 'UID': '7012'}
imap: __options2hash returning: {'INTERNALDATE': '"14-Jul-2015 12:34:27 +0200"', 'FLAGS': '()', 'UID': '7013'}
imap: Write mail 'INBOX:-6875' with flags set([])
: deletemessageheaders: called to delete []
: getmessageheader: called to get message-id
: getmessageheader: eoh = 23407
: getmessageheader: headers = 'Return-path: <mm30_Bw3_nk_802_31208@mail.nkinfo.se>\r\nEnvelope-to: helena@ssol.holmlund.se\r\nDelivery-date: Thu, 10 Dec 2009 14:57:30 +0100\r\nReceived: from [192.168.16.1] (helo=vm1.holmlund.se)\r\n\tby sol

... single line with email with a large attachment removed by mattias

E2IDAgUg0KPj4NCnN0YXJ0eHJlZg0KMTAyMzU1DQolJUVPRg==\r\n\x00\x97\r\n--4aeae813-48f8-4b65-a11a-845204325aca--\r\n'
imap: savemessage: date: "23-Dec-2014 23:51:10 +0100", content: 'Return-Path: <biljetter@dramaten.se>
Delivered-To: **redacted-by-mattias**@holmlund.se
Received: from localhost (localhost [127.0.0.1])
        by mail.holmlund.se (Postfi...==
^@<97>
--4aeae813-48f8-4b65-a11a-845204325aca--
'

Did you chek the offending mail and removed any NUL character in it?

This error is possibly caused by antivirus software running on the user's machine, which intercepts email communications, and changes the byte stream before network transmission, see this mozilla thunderbirg bug regarding panda antivirus...

https://bugzilla.mozilla.org/show_bug.cgi?id=235589

> The message should not contain \0 characters as per RFC 2822 section 2.1: "A
> message [...] is comprised of characters with values in the range 1 through 127
> and interpreted as US-ASCII characters [ASCII]". If the user somehow pastes a \0
> character into the mail, it should be encoded (quoted printable or base64).

To prevent the users from ever being bothered again by this problem, It would be nice to have OLI scan for NUL characters inside the emails which it is forwarding to an IMAP server, and convert the NUL to quoted-printable or base64 , and by doing this, make the content of the email be legal per RFC 2822.  

Then, if this error ever happened again, the cause would surely be something like the antivirus app which intercepted and modified the message.


Thanks Chris.

It doesn't look like a bug from offlineimap and I don't think the code is inserting NUL characters in the emails.